html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100%
}

header {
    margin-top: 36px;
    margin-bottom: 58px;
    margin-left: 96px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo_text {
    margin-left: 18px;
    width: 125px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.wrapper {
    width: 1170px;
    position: relative;
}

.main_page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(90.54deg, #FCFEFF 0.46%, #A5DEFF 99.57%);
}

.bg_image {
    align-self: flex-end;
}

.greating {
    margin-left: 96px;
    background-color: #fff;
    padding: 60px 56px;
    align-self: center;
}

.greating h1 {
    margin-top: 44px;
    margin-bottom: 24px;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #181D1F;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #181D1F;
}

.greating h2 {
    color: #FF6B0A;
}

h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181D1F;
}

.greating h3 {

    margin-bottom: 16px;
}

.greating p {
    margin-bottom: 48px;
    width: 400px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.bg_lounch,
.modal_form_btn {
    background: #FF6B0A;
    border-radius: 8px;
    width: 172px;
    height: 48px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.bg_great_img {
    display: flex;
    justify-content: space-between;
    height: 100%;
}


h4 {
    font-weight: 600;
    font-size: 48px;
    line-height: 24px;
    color: #181D1F;
}

.facts h4 {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
}

.facts {
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts_text {
    display: flex;
    align-items: center;
    text-align: center;
    color: #181D1F;
    margin-bottom: 24px;
    width: 875px;
}

.goose_facts {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.fact {
    width: 33%;
}

.fact h2 {
    margin-top: 12px;
    margin-bottom: 32px;
}

.fact_text {
    width: 295px;
    text-justify: left;
}

.victory_bgd {
    width: 1170px;
    background: linear-gradient(90.54deg, #FCFEFF 0.46%, #A5DEFF 99.57%);
    padding-top: 52px;
    padding-bottom: 72px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.victory p {
    width: 875px;
}

.victory h1 {
    margin: 16px 0;
}

.victory {
    display: flex;
    justify-content: center;
}

.modal_bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(24, 29, 31, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.modal_form_cont {
    background: #fff;
    padding: 32px 92px 60px 92px;
    position: relative;
    border-radius: 8px;
}

.modal_form h2 {
    color: #000;
    margin: 32px 0 12px 0;
}

.modal_form p {
    color: #000;
    margin-bottom: 24px;
}

.modal_form_field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal_field_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #000;
}

.modal_field_input {
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #005BBB;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 4px 8px;
}


.modal_form_btn {
    margin-top: 24px;
}

.close_btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    color: #1B1D1F;
    cursor: pointer;
    border: 0;
    background: none;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}